body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.logo {
    width: 140px;
    margin-bottom: 20px;
}

.titulo {
    font-size: 26px;
    margin-bottom: 40px;
}
.sub-titulo {
    font-size: 22px;
    margin-bottom: 40px;
}
.btn {
    display: inline-block;
    background: #d70000;
    color: #fff;
    padding: 16px 22px;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 20px;
}
.btn:active {
    opacity: .8;
}
